#body{
 background-image: url('nodes.png');
 background-position: absolute;
}
.login {
  background-color: black;
  opacity: .7;
  width: 200px;
  height: 600px;
  margin-top: 40px;
}
.loginPad {
  padding-left: 15px;
  padding-top: 20px
}
#logTitle {
  color: red;
}

#signup {
  color: red;
}
